@model IEnumerable<Scheduler.Models.Doctor>

@if (Model.Count() == 0)
{
    <p>Doctor list is empty.</p>
    <p>Please add more doctors</p>
}
else
{
    <table class="table table-bordered table-striped">
        <tr>
            <th>Edit</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Scope</th>
            <th>Phone</th>
            <th>Delete</th>
        </tr>
        @foreach (var doctor in Model)
        {
            <tr>
                <td><a href="../Admin/Edit/@doctor.Id" class="btn btn-sm btn-link">Edit</a></td>
                <td>@doctor.Name</td>
                <td>@doctor.Surname</td>
                <td>@doctor.Scope</td>
                <td>@doctor.PhoneNumber</td>
                <td><a href="../Admin/Delete/@doctor.Id" class="btn btn-sm btn-link">Delete</a></td>
            </tr>
        }
    </table>
}