@model Scheduler.Models.Doctor
@{
    ViewData["Title"] = "Admin page";
}
<h2 style="text-align:center">@ViewData["Title"]</h2>

<ul style="position:relative; text-align:center; padding:0; list-style:none;">
    <li><a href="Admin/Create" class="btn btn-link btn-lg" role="button">Create doctor</a></li>
    <li><a href="Admin/DoctorList" class="btn btn-link btn-lg" role="button">Edit/Delete doctor</a></li>
    <li><a href="Admin/BlackList" class="btn btn-link btn-lg" role="button">Black list</a></li>
</ul>