@model IEnumerable<Scheduler.Models.ApplicationUser>

<h1>Users list</h1>

<table class="table table-bordered">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <form asp-action="UsersList" asp-controller="Admin" method="post">
                    <input type="hidden" name="id" value="@user.Id"/>
                    <input type="submit" name="" value="Add to blacklist" class="btn btn-link"/>
                </form>
            </td>
        </tr>
    }
</table>

