@model Scheduler.ViewModels.Test

@{
    ViewData["Title"] = "About";
}
<h2 style="text-align:center">@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div style="text-align:center; font-size:19px">
    <p>Scheduler - is a website where people can easily find doctors, register for appointments and more.. </p>
    <p>Website created by Dainius Simanavicius for practice</p>
    <br />
    <br />
    <br />
</div>