@{
    ViewData["Title"] = "Live chat";
}

@inject UserManager<ApplicationUser> UserManager
@*<div id="entrance">
        <label for="nick">Enter your nickname:</label>
        <input type="text" id="nick" />
        <button onclick="continueToChat()">Continue</button>
    </div>*@

@*<div id="chat" style="display: none">*@
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 frame" id="frame">
        @*<h3 id="spn-nick"></h3>*@
        <ul class="messages" id="messages"></ul>
        <form id="frm-send-message" action="#" autocomplete="off">
            @*<label for="message">Message:</label>*@
           
                <input class="myText" type="text" id="message" placeholder="Type your message" />
                @*<button type="submit"><i class="glyphicon glyphicon-send" aria-hidden="true"></i></button>*@
           
        </form>
        <div class="clear">
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/lib/signalr/signalr.js"></script>
<script>

    function scroll() {
        $(".frame").animate({ scrollTop: $(this).height() }, "fast");
    }

    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/chat")
        .build();

    connection.start().catch(err => console.error(err.toString()));

    $('#spn-nick').text('@UserManager.GetUserName(User).ToString()');

        $.getJSON("/api/Chat", null, function (data) {
            showChat(data);
            scroll();
        });

        function showChat(data) {
            //console.log(data);
            for (var msg in data) {
                //let dateElement = document.createElement('em');
                //dateElement.innerText = data[msg]["dateCreated"];

                //let divElement = document.createElement('div');
                
                @*if (data[msg]["sender"] == '@UserManager.GetUserName(User)') {
                    divElement.className = "Iamuser";
                }*@

                let nameElement = document.createElement('strong');
                nameElement.innerText = data[msg]["sender"] + ': ';
    
                let msgElement = document.createElement('em');
                msgElement.innerText = data[msg]["message"];

                let li = document.createElement('li');
                //divElement.appendChild(nameElement);
                //divElement.appendChild(msgElement);
                li.appendChild(nameElement);
                li.appendChild(msgElement);
                //li.appendChild(dateElement);


                $('#messages').append(li);
            }
        }

    connection.on('Send', (nick, message) => {
        appendLine(nick, message);
        scroll();
        });

    document.getElementById('frm-send-message').addEventListener('submit', event => {
        let message = $('#message').val();
        //let nick = $('#spn-nick').text();
        let nick = '@UserManager.GetUserName(User).ToString()';

        $.post("/api/Chat", { msg: message }).fail(function () {
            alert("no gud with chat");
        });

        $('#message').val('');

        connection.invoke('Send', nick, message);
        event.preventDefault();
    });

    function appendLine(nick, message, color) {
        let nameElement = document.createElement('strong');
        nameElement.innerText = `${nick}:`;
        //nameElement.innerText = '@UserManager.GetUserName(User).ToString()' + ':';

        let msgElement = document.createElement('em');
        msgElement.innerText = ` ${message}`;

        let li = document.createElement('li');
        li.appendChild(nameElement);
        li.appendChild(msgElement);

        $('#messages').append(li);

        scroll();
    };

    function continueToChat() {
        $('#spn-nick').text($('#nick').val());
        //$('#spn-nick').text($('#nick').val());
        $('#entrance').hide();
        $('#chat').show();
    }
</script>
