@{
    ViewData["Title"] = "Live chat";
}

@inject UserManager<ApplicationUser> UserManager
@*<div id="entrance">
        <label for="nick">Enter your nickname:</label>
        <input type="text" id="nick" />
        <button onclick="continueToChat()">Continue</button>
    </div>*@

@*<div id="chat" style="display: none">*@
<div id="chat">
    @*<h3 id="spn-nick"></h3>*@
    <form id="frm-send-message" action="#">
        <label for="message">Message:</label>
        <input type="text" id="message" />
        <input type="submit" id="send" value="Send" class="send" />
    </form>
    <div class="clear">
    </div>
    <ul id="messages"></ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/lib/signalr/signalr.js"></script>
<script>


    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/chat")
        .build();

    connection.start().catch(err => console.error(err.toString()));

    $('#spn-nick').text('@UserManager.GetUserName(User).ToString()');

        $.getJSON("/api/Chat", null, function (data) {
            showChat(data);
        });

        function showChat(data) {
            console.log(data);
            for (var msg in data) {
                let nameElement = document.createElement('strong');
                nameElement.innerText = data[msg]["sender"] + ':';

                let msgElement = document.createElement('em');
                msgElement.innerText = data[msg]["message"];

                let li = document.createElement('li');
                li.appendChild(nameElement);
                li.appendChild(msgElement);

                $('#messages').append(li);
            }
        }

    connection.on('Send', (nick, message) => {
        appendLine(nick, message);
        });

    document.getElementById('frm-send-message').addEventListener('submit', event => {
        let message = $('#message').val();
        //let nick = $('#spn-nick').text();
        let nick = '@UserManager.GetUserName(User).ToString()';

        $.post("/api/Chat", { msg: message }).done(function() {
            alert("all gud with chat");
        }).fail(function () {
            alert("no gud with chat");
        });

        $('#message').val('');

        connection.invoke('Send', nick, message);
        event.preventDefault();
    });

    function appendLine(nick, message, color) {
        let nameElement = document.createElement('strong');
        nameElement.innerText = `${nick}:`;
        //nameElement.innerText = '@UserManager.GetUserName(User).ToString()' + ':';

        let msgElement = document.createElement('em');
        msgElement.innerText = ` ${message}`;

        let li = document.createElement('li');
        li.appendChild(nameElement);
        li.appendChild(msgElement);

        $('#messages').append(li);
    };

    function continueToChat() {
        $('#spn-nick').text($('#nick').val());
        //$('#spn-nick').text($('#nick').val());
        $('#entrance').hide();
        $('#chat').show();
    }
</script>
