@{
    ViewData["Title"] = "Live chat";
}

@inject UserManager<ApplicationUser> UserManager

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 frame" id="frame">
        <ul class="messages" id="messages"></ul>
        <form id="frm-send-message" action="#" autocomplete="off">
                <input class="myText" type="text" id="message" placeholder="Type your message" />          
        </form>
        <div class="clear">
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/lib/signalr/signalr.js"></script>
<script>

    function scroll() {
        $(".frame").animate({ scrollTop: $(this).height() }, "fast");
    };

    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/chat")
        .build();

    connection.start().catch(err => console.error(err.toString()));

    $('#spn-nick').text('@UserManager.GetUserName(User).ToString()');

    $.getJSON("/api/Chat", null, function (data) {
        showChat(data);
        scroll();
    });

    function showChat(data) {
        for (var msg in data) {              
            let nameElement = document.createElement('strong');
            nameElement.innerText = data[msg]["sender"] + ': ';
    
            let msgElement = document.createElement('em');
            msgElement.innerText = data[msg]["message"];

            let li = document.createElement('li');
            li.appendChild(nameElement);
            li.appendChild(msgElement);

            $('#messages').append(li);
        }
    };

    connection.on('Send', (nick, message) => {
        appendLine(nick, message);
        scroll();
    });

    document.getElementById('frm-send-message').addEventListener('submit', event => {
        let message = $('#message').val();
        let nick = '@UserManager.GetUserName(User).ToString()';

        $.post("/api/Chat", { msg: message }).fail(function () {
            alert("no gud with chat");
        });

        $('#message').val('');

        connection.invoke('Send', nick, message);
        event.preventDefault();
    });

    function appendLine(nick, message, color) {
        let nameElement = document.createElement('strong');
        nameElement.innerText = `${nick}:`;

        let msgElement = document.createElement('em');
        msgElement.innerText = ` ${message}`;

        let li = document.createElement('li');
        li.appendChild(nameElement);
        li.appendChild(msgElement);

        $('#messages').append(li);

        scroll();
    };
    
</script>
