@{
    ViewData["Title"] = "Contact";
}
<h2 style="text-align:center">@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@
<br />
<br />

<div class="row">
    <div class="col-lg-4 col-lg-offset-4" style="font-size:19px">
        <address>
            Dainius Simanavicius<br />
            Lietuva, Vilnius 2018<br />
            Phone: 865554985<br />
        </address>

        <address>
            <strong>Creator:</strong> <a href="mailto:Support@example.com">dainius.simanavicius@gmail.com</a><br />
        </address>
    </div>
</div>
<br />
<br />